@model SingleMultipleCheckbox.Models.ViewModelCheckbox


<form asp-action="MultipleCheckbox" method="post" >
@{
        foreach (var Options in Model.Options)
        {

            <input type="checkbox"
            id="@Options.Value"
            name="sports"
            value="@Options.Value" 
            checked="@Options.check"
            class="form-check-input">

            <label for="@Options.Value"> @Options.Text</label>

            <br>

    

    }
}

    <input type="submit" value="submit" class="btn btn-outline-success" />
</form>