@model IEnumerable<ConsumeWebAPi.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (TempData["InsertMessage"]!=null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["InsertMessage"]</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["UpdateMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["UpdateMessage"]</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delteMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["delteMessage"]</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
