@model MultipleModelInSingleView.Models.SchoolModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-bordered table-active table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Standard</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Students.Count > 0)
            {
                 foreach(var item in Model.Students)
            {
                <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.standard</td>
                
                </tr>
            }
            }
            else
            {
                <h1>No Data Found</h1>
            }
           
        }
    </tbody>

    </table>

    <br />
    <br />
    <br />
    <h1>Teachers Data</h1>
  <table class="table table-bordered table-active table-hover">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Standard</th>
    </tr>
</thead>
<tbody>
    @{
        foreach (var item in Model.teachers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.Des</td>

            </tr>
        }
    }
</tbody>

    </table>